{% set title = g.site_title %}
{% set intro = g.site_intro_text %}

{% snippet 'home/snippets/hero_slider.html' %}

{# Use hero slider instead of default hero content #}
{#
<div role="main" class="hero">
  <div id="content" tabindex="-1" style="display:none"></div>
  <div class="tint"></div>
  <div class="container">
    <div class="row row1">
      <div class="span12">
        <div class="module-content box">
          <div class="landing-hero-intro-text">
            <div class="intro-text supporting-text">Welcome to</div>
          </div>
          <h1 class="hero-text-heading heading">{{title}}</h1>
          <div class="hero-text-description secondary-heading">
          {% if intro %}
            {{ h.render_markdown(intro) }}
          {% endif %}
            Get started by searching from <b>{{ h.dathere_theme2_dataset_count() }}</b> datasets
          </div>
        </div>
      </div>
    </div>
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
  <div class="landing-hero-logo">
    <img src="/img/b-logo-light.svg" alt="B Logo" data-pin-nopin="true">
  </div>
</div>
#}
<div>
  {% if h.dathere_theme2_get_showcases() %}
  <div class="main-featured">
    <div class="container">
      <div class="row">
        <div class="span12 col1 showcase-container">
          <div class="module-content box">
            <h2 class="heading"><a href="/showcase">Showcases</a></h2>
            <span class="heading-explanation">See what our users are doing with open data. </span>
            {% snippet 'home/snippets/showcase_list.html', showcases=h.dathere_theme2_get_showcases() %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if h.dathere_theme2_get_groups() %}
  <div class="main-browse">
    <div class="container">
      <div class="row">
        <div class="span12 col1">
          <div class="module-content box">
            <div class="strikethrough-wrapper">
              <h2 class="heading"><a href="/group">Groups</a></h2>
              <span class="heading-explanation">
                As datasets are published, they are tagged with categories so you can learn about popular topics. Explore them below.
              </span>
            </div>
             {% for group in h.dathere_theme2_get_groups(8) %}
              {% if group.package_count > 0 %}
                <a href="/group/{{ group.name }}" class="browse-group">
                  <img class="browse-group-image" class="homepage-group-images" src="{{ group.image_display_url or '/base/images/placeholder-group.png' }}">
                  <div class="browse-group-title">
                    <div class="browse-group-display-name">
                      {{ group.display_name }}
                    </div>
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="main-updates">
    <div class="container">
      <div class="row">
        <div class="span6 col1">
          {% snippet 'home/snippets/popular_datasets.html' %}
        </div>
        <div class="span6 col2">
          {% snippet 'home/snippets/recent_datasets.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
