{% ckan_extends %}

    {% block footer_content %}
    <div class="row">
      <div class="span5 col1 footer-links group-1">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
            {% endblock %}
          </ul>
          <ul class="unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'https://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
              <li><a target="_blank" href="{{ api_url }}">{{ _('API Documentation') }}</a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="footer-links group-2">
          <ul class="unstyled"">
            <li><a href="/pages/tips-for-users">{{ _('Tips for Users') }}</a></li>
            <li><a href="/pages/glossary">{{_('Glossary')}}</a></li>
            <li><a target="_blank" href="https://beta.nyc/about/">{{ _('General Inquiries') }}</a></li>
           </ul>
      </div>

      <div class="attribution">
        {% block footer_attribution %}
          <p>
            {% trans %}
              <span id="footer-attribution-text">Powered by</span>
              <div style="white-space:nowrap" id="footer-attribution-content">
                <a class="hide-text" target="_blank" href="https://dathere.com/"><img src="/img/dathere_logo_white.png" alt="datHere"></img></a>
                <a class="hide-text" target="_blank" href="http://ckan.org"><img src="/img/ckan_logo_white.png" alt=""></img></a>
              </div>
            {% endtrans %}
          </p>
        {% endblock %}
        {#
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
        #}
      </div>
    {% endblock %}
