.page_primary_action .dataset-list .dataset-item .dataset-resources,
.main-responsive-panel .dataset-list .dataset-item .dataset-resources,
.main-responsive-panel .dataset-list .dataset-item .package-item-note,
.main-responsive-panel .dataset-list .dataset-item .package-item-extra {
  padding-left: 120px;
}
#canonical {
  padding: 10px 15px;
}
#canonical.btn.active {
  background-color: #d3d3d3;
  box-shadow: none;
}
#dataset-map .module-heading .action {
  color: #ffffff;
}
#field-sitewide-search {
  height: 26px;
}
#footer-attribution-content {
  display: inline;
  right: 20%
}
#footer-attribution-content img {
  max-height: 25px;
  padding-right: 10px;
}
#page {
  padding-top: 65px;
}
#twitter-widget-0, #twitter-widget-1 {
  height: 620px !important;
}
.js .image-upload #field-image-upload {
  height: 100%;
}
a {
  color: #10497C;
  font-family: "Montserrat", sans-serif;
}
a.browse-group {
  background-color: #fff;
  padding: 1%;
}
a.tag:hover {
  -moz-box-shadow: inset 0 1px 0 #126c9c;
  -webkit-box-shadow: inset 0 1px 0 #126c9c;
  background-color: #126c9c;
  border: 1px solid #126c9c;
  box-shadow: inset 0 1px 0 #126c9c;
}
article.module .module-content .table-striped tbody tr:nth-child(even) td,
article.module .module-content .table-striped tbody tr:nth-child(even) th {
  background-color: #fff;
}
aside .filters .accordion-body {
  border: 1px solid #d3d3d3;
}
aside .module.module-narrow .module-content {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  margin: 0;
  padding-top: 20px;
}
body {
  -moz-font-feature-settings: "kern" 1;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-family: "Lora", serif;
  font-feature-settings: "kern" 1;
  font-size: 16px;
  line-height: 1.35em;
  text-rendering: geometricPrecision;
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
  padding: 0 6px;
}
footer {
  font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #091f2f;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  text-transform: uppercase;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 17.5px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h1.hero-text-heading.heading {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0 20px;
  font-size: 36px;
  line-height: 40px;
  font-size: 2rem;
  line-height: 2.22222rem;
}
h2.module-heading > i {
  display: none;
}
header .header-image.pull-left {
  display: block;
  line-height: 0;
  padding: 0;
  position: absolute;
  margin: 0;
  top: 18.461538461538463%; /*12 divided by 65*/
  left: 90px;
}
header.navbar.navbar-static-top.masthead {
  background-color: white;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
input, textarea, select {
  font-family: "Lato", sans-serif;
}
label {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
li.dataset-item .dataset-heading a {
  font-family: "Lora", serif;
  text-transform: none;
  color: rgb(37,86,174);
  font-size: 22px;
}
th, .dataset-label {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
thead {
  background-color: #f2f2f2;
}
ul.menu {
  margin-left: 0;
}
[role=main] {
  min-height: 320px;
}
[role=main] > #content {
  margin-top: 8px;
}
[role=main], .main {
  padding-top: 4px;
}
[role=main].hero {
  background: url("/img/hero_background.jpg");
  background-color: transparent;
  background-size: cover;
}
.accordion-group {
  border: none;
  margin-bottom: 0;
}
.accordion-heading {
  background-color: #091F2F;
  border-bottom: 0;
  color: #fff;
  font-size: 16px;
  position: relative;
  margin: 0;
  padding: 9px 21px 9px 12px;
}
.accordion-heading a {
  color: #ffffff;
}
.accordion-toggle h2.accordion-heading:after {
  color: rgba(255,255,255,0.7);
  content: "\f077";
  font-family: "fontawesome";
  font-weight: bold;
  right: 10px;
  position: absolute;
}
.accordion-toggle.collapsed h2.accordion-heading:after {
  content: "\f078";
}
.account {
  height: 48px;
}
.account ul {
  height: 48px;
}
.account ul a:hover {
  background-color: #126c9c;
}
.account li {
  height: 48px;
  display: inline-block;
}
.account-masthead {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.account-masthead .account ul li {
  border-left: none;
}
.account-masthead .account ul li a:hover {
  background: #469c23;
}
.account.avatar.authed ul, .account.not-authed ul {
  padding-top: 0;
}
.account.avatar.authed ul a, .account.not-authed ul a {
  padding: 14px 7px;
  text-decoration: none;
}
.account.avatar.authed ul a:hover, .account.not-authed li.active a, .account ul a:hover {
  background-color: #fff;
}
.activity .item .date {
  color: #767676;
}
.attribution p span {
  text-transform: uppercase;
}
.banner {
  background-color: #31383c;
}
.box, .wrapper, .label, .media-view:hover, .media-view.hovered, .media-view {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
.browse-group {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: center;
  transition: all 400ms;
  vertical-align: top;
  width: auto;
}
.browse-group:hover {
  background-color: #2554B1;
  color: #fff;
  opacity: 1;
  text-decoration: none;
}
.browse-group-image {
  margin: 12px;
  max-height: 100px;
  max-width: 85%;
  height: 65px;
}
.browse-group-title {
  display: block;
  color: rgb(37,86,174);
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 25px;
}
.browse-group-display-name {
  color: rgb(37,86,174);
  padding-top: 24px;
}
.browse-group:hover .browse-group-display-name {
  color: #fff;
}
.browse-heading {
  margin-bottom: 28px;
}
.browse-topic-title {
  color: #31383c;
}
.btn {
  background: #ffffff;
  border: 1px solid #0a4b6e;
  color: #0a4b6e;
  padding: 17px 21px;
}
.btn, .label {
  background-image: none;
}
.btn-danger {
  background-color: #BF3D50;
  border: 1px solid #BF3D50;
  color: #ffffff;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #085871;
  border: 1px solid #085871;
}
.btn-group > .btn, .form-horizontal > .btn, .btn-small {
  padding: 4px 12px;
}
.btn-primary, .btn-success, .btn-success:hover, .btn-success:active {
  background-color: #2554B1;
  border: 1px solid #2554B1;
  color: #ffffff;
  text-shadow: none;
}
.btn-primary, .btn-success, .btn-success:hover, .btn-success:active a,
.btn-danger, .btn-danger:active a {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #BF3D50;
  border: 1px solid #BF3D50;
  color: #ffffff;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: #BF3D50;
  border: 1px solid #BF3D50;
  color: #ffffff;
}
.btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color: #0a4b6e;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active,
.btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  background-color: #061622;
  border: 1px solid #061622;
  color: #ffffff;
}
.btn-warning {
  text-shadow: none;
}
.carousel {
  line-height: inherit;
}
.carousel-inner {
  overflow: visible;
  opacity: 1;
  height: 250px;
  width: 100%;
}
.carousel-inner > .item {
  height: 250px;
  width: 100%;
  display: block;
  opacity: 0;
  overflow: visible;
  position: absolute;
  transition: all 400ms;
  z-index: 200;
}
.carousel-inner > .item.active.in {
  display: block;
  opacity: 1;
  z-index: 250;
}
.carousel-control {
  background-color: transparent;
  border: 0;
  opacity: 0.9;
  position: static;
}
.carousel-control:hover {
  opacity: 1;
}
.carousel-control > img {
  height: 16px;
}
.carousel-controls {
  bottom: 0;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  opacity: 0.3;
  padding: 0 10px;
  position: absolute;
  right: 0;
  z-index: 300;
}
.carousel-controls:hover {
  opacity: 0.9;
}
.vizcarousel-desc {
  opacity: 0;
  padding: 25px;
  position: absolute;
  text-align: left;
  transition: opacity 400ms;
  height: 225px;
  width: 94%;
}
.vizcarousel-desc.active {
  opacity: 1;
}
.vizcarousel-desc > p > a, .vizcarousel-desc > p {
  color: #ffffff;
}
.vizcarousel-desc-text {
  color: #fff;
}
.vizcarousel-desc-text.author {
  font-style: italic;
}
.vizcarousel-desc-text > a {
  color: #fff;
}
.context-info h1.heading {
  font-size: 17.5px !important;
  hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  word-break: keep-all;
}
.control-required {
  color: #ff0000;
  font-size: 18px;
}
.dataset-heading {
  font-size: 17.5px;
}
.dataset-heading a {
  color: #31383c;
}
.datepicker {
  background-color: #fff;
}
.nav .dropdown-menu,
.resource-item .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #0a4b6e;
  border: none;
  border-radius: 0;
  padding: 0;
}
.nav .dropdown-menu>li>a,
.resource-item .dropdown-menu>li>a {
  color: #ffffff;
  padding: 14px 20px;
}
.nav .dropdown-menu>li>a:hover, .nav .dropdown-menu>li>a:focus,
.nav .dropdown-submenu:hover>a, .nav .dropdown-submenu:focus>a,
.resource-item .dropdown-menu>li>a:hover, .resource-item .dropdown-menu>li>a:focus,
.resource-item .dropdown-submenu:hover>a, .resource-item .dropdown-submenu:focus>a {
  background-image: -moz-linear-gradient(top, #126c9c, #126c9c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#126c9c), to(#126c9c));
  background-image: -o-linear-gradient(top, #126c9c, #126c9c);
  background-image: linear-gradient(to bottom, #126c9c, #126c9c);
  background-repeat: repeat-x;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.featured-heading {
  color: #ffffff;
}
.feedback-count {
  color: #20c3c4;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 0;
}
.feedback-icons {
  padding: 20px 20px 30px;
}
.filtered.pill {
  background-color: #2554B1;
}
.form-actions {
  text-align: right;
  border-top: none;
}
.form-actions.submit-form {
  border-top: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}
.form-inline.form-select.lang-select {
  margin-top: 17px;
}
.getstarted {
  background-color: transparent;
  border: 1px solid #6e7a81;
  color: #6e7a81;
}
.hero {
  background-color: #eeeeee;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover !important;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.hero .container {
  padding: 25px 0;
  position: relative;
  z-index: 5;
}
.hero .module-search {
  padding-top: 0;
}
.hero .row {
  height: inherit;
}
.hero .tint {
  background-color: rgba(10, 154, 255, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
}
.hero-text {
  color: #ffffff;
}
.hero-text-heading {
  font-size: 36px;
}
.hero-text-description {
  font-size: 18px;
}
.hero-text-description a {
  color: #ffffff;
}
.hero-text-heading.heading,
.hero-text-description.secondary-heading {
  color: #ffffff;
}
.hero-text-description.secondary-heading {
  line-height: 1.35em;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 22px;
}
.hero-text-description.secondary-heading p:first-child strong {
  line-height: 52px;
}
/*make sure hidden elements are not hidden to assistive technology*/
.hide {
  display: none;
}
.hide.skip-link {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  overflow: hidden;
  position: absolute !important;
  height: 1px;
  width: 1px;
}
.homepage [role=main] {
  padding: 0;
  text-align: center;
}
.homepage .browse-group-display-nam, .homepage .browse-group-title {
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
}
.homepage .main-browse h2 a {
  color: #091f2f;
  font-size: 30px;
  text-decoration: none;
}
.homepage .main-browse h2 a:hover {
  color: #2554B1;
}
.homepage .module-search {
  background-color: transparent;
  color: #ffffff;
  margin: 10px 0 0;
  opacity: .9;
}
.homepage .module-search .module-content {
  background-color: transparent;
  border-bottom: none;
  color: #31383c;
}
.homepage .module-search .module-content .heading {
  font-size: 27px;
  margin-bottom: 18px;
}
.homepage .module-search .search-giant input {
  border: 5px solid #091f2f;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}
.homepage .module-search .tags {
  background-color: #205493;
  padding: 5px 10px 10px;
  zoom: 1;
}
input::-webkit-input-placeholder {
  color: #828282;
  font-style: italic;
}
input:-moz-placeholder {
  color: #828282;
  font-style: italic;
}
input::-moz-placeholder {
  color: #828282;
  font-style: italic;
}
input:-ms-input-placeholder {
  color: #828282;
  font-style: italic;
}
.landing-hero-intro-text .intro-text {
  color: #fff;
  padding-bottom: 1em;
}
.landing-hero-logo {
  background: #091f2f;
  margin: 0 auto;
  padding-top: 6px;
  bottom: 0;
  left: 50%;
  height: 90px;
  width: 90px;
}
.landing-hero-logo img {
  padding-top: 15px;
  height: 63px;
  width: auto;
}
.logo {
  display: inline-block;
  max-width: 280px;
  position: relative;
  top: 0;
}
.main-browse {
  background: #f3f3f3;
}
.main-carousel {
  background: #eeeeee;
}
.main-featured {
  background: #f3f3f3;
}
.main-featured .media-item.is-expander:hover {
  padding-bottom: 15px;
}
.main-featured .module-content, .main-featured .media-grid {
  background-color: transparent;
  border: 0;
}
.main-featured .truncator-more {
  display: none;
}
.main-search {
  padding-top: 0;
}
.main-updates {
  background: #f3f3f3;
}
.main-updates li.dataset-item {
  background-color: #fff;
  border: none;
  display: block;
  height: 150px;
  padding: 0;
}
.main-updates li.dataset-item .dataset-heading {
  padding-top: 25px;
}
.masonry-brick .count {
  font-weight: normal;
}
.masthead {
  background: #ffffff none;
}
.masthead input[type="text"] {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 0;
  border-radius: 0;
  color: black;
}
.masthead .btn-navbar,
.masthead .btn-navbar:hover, .masthead .btn-navbar:focus, .masthead .btn-navbar:active,
.masthead .btn-navbar.active, .masthead .btn-navbar.disabled, .masthead .btn-navbar[disabled] {
  background-color: transparent;
  border: 1px solid #ffffff;
}
.masthead .nav > li > a:focus,
.masthead .nav > .active > a:focus {
  color: #212121;
}
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover {
  color: #ffffff;
}
.masthead .nav > li > a, .masthead a {
  color: #091f2f;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.masthead .navbar .nav-pills li a:hover,
.masthead .navbar .nav-pills li.active a,
.masthead a:hover {
  background-color: transparent;
  color: #2554B1;
}
.masthead .navbar .nav-pills li a.s:hover,
.masthead .navbar .nav-pills li.active a.s,
.masthead a.s:hover {
  background-color: #fff;
}
.masthead .navigation {
  margin-right: 0;
}
.masthead .section.site-search.simple-input {
  float: right;
  margin: 20px 0;
  position: relative;
}
.masthead .site-search {
  margin: 2px 2px 22px 0;
}
.masthead .site-search input {
  background-color: transparent;
  box-shadow: none;
  padding: 4px 10px 4px 25px;
  width: 144px;
}
.media-grid {
  background: #fff none;
  border: none;
}
.media-grid.masonry .media-heading {
  color: rgb(40, 139, 228);
  display: block;
  font-family: Lora, serif;
  font-style: italic;
  font-size: 20px;
  text-transform: none;
}
.media-heading {
  color: #000000;
  hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  word-break: keep-all;
}
.media-item {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-color: white;
  border-radius: 0;
  float: left;
  padding: 25px;
  position: relative;
  transition: background-color 400ms;
  margin: 15px 0 0 15px;
  width: 189px;
}
.media-item:hover {
  background-color: #2554B1;
}
.media-item:hover .media-heading,
.media-item:hover .count,
.media-item:hover .media-heading a,
.media-item:hover div,
.media-item:hover p {
  color: #fff;
}
.media-item.masonry-brick {
  border: none;
  padding: 36px;
  text-align: center;
  /*these three lines are temporary, we need to write a function to cut off the words!*/
  height: 260px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
/*these lines are temporary, we need to write a function to cut off the words!*/
.media-item.masonry-brick p {
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 40px;
}
.media-item .media-image {
  margin-bottom: 15px;
}
.media-item.organization-item-list {
  border: 1px solid #e3e3e3;
  padding: 14px;
  text-align: center;
}
.media-item.organization-item-list .media-image {
}
.media-item strong,
.dataset-list .dataset-heading,
.dataset-list .package-item-extra {
  font-family: "Lora", serif;
  font-style: italic;
}
.media-item h3 {
  color: #2554B1;
  font-family: Lora;
  font-size: 25px;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}
.media-item:hover h3 {
  color: #ffffff;
}
.media-view {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.media-view > .banner {
  display: none;
}
.module-content {
  background-color: transparent;
  padding: 0 0;
}
.module-content-about img {
  display: block;
  margin: 40px 0 10px 0;
}
.module-footer {
  padding: 0;
  border: none;
}
.module-footer .read-more {
  color: #666666;
  font-weight: normal;
}
.module-grid {
  background: #fbfbfb none;
}
.module.additional-info .module-content h2 {
  border-bottom: 1px solid #ddd;
}
.module.module-narrow .module-heading {
  background-color: #091f2f;
  border: none;
  color: #fff;
  font-size: 16px;
  margin: 0;
}
.module.module-narrow.module-shallow h2 {
  background-color: #091F2F;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 9px 21px 9px 12px;
  position: relative;
}
.module.module-narrow.resources {
  margin-top: 30px;
}
.module.module-narrow.resources .module-heading {
  background-color: #091F2F;
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.module.module-narrow.resources .nav-item.active > a,
.nav-aside li.active a {
  background-color: #091f2f;
}
.module.module-narrow.resources .unstyled.nav.nav-simple {
  border: 1px solid #ddd;
}
.module.module-narrow.social .module-heading {
  background-color: #091F2F;
  color: #fff;
}
.module.module-narrow.social .nav.nav-simple {
  border: 1px solid #ddd;
}
.module.module-resource {
  border-bottom: none;
}
.module-resource .muted.ellipsis a {
  text-transform: none;
}
.module-narrow.module-shallow.accordion-group .collapse.accordion-body {
  border: 1px solid #e5e5e5;
}
.module-narrow .module-heading,
.module-narrow .module-content,
.module-narrow .module-footer {
  padding-left: 20px;
  padding-right: 20px;
}
.nav .label, .badge {
  background-color: #091F2F;
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: none;
}
.nav-item.active > a,
.nav-aside li.active a {
  background-color: #6e7a81;
  color: #ffffff;
  position: relative;
}
.nav-item.active > a:before,
.nav-aside li.active a:before {
  background-image: none;
}
.nav-pills .dropdown .caret {
  margin-top: 0;
}
.nav-pills>li>a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav-tabs>li>a,
.nav-pills>li>a {
  margin-right: 0;
}
.navbar {
  position: relative;
  top: 10px;
}
.navbar .nav>li>a {
  padding: 17px;
}
header .navbar .nav>li>a {
  padding: 17px 8px;
}
.navbar .nav>li>.dropdown-menu:before {
  display: none;
}
.navbar .nav>li>.dropdown-menu:after {
  display: none;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 100%;
}
.navbar-static-top .logo img {
  height: 20px;
  margin-top: 13px;
}
.navigation-wrapper {
  background-color: #fff;
  display: inline-block;
  float: right;
  height: 65px;
}
.navigation-wrapper .caret {
  border-top: 4px solid #0c2639;
  vertical-align: middle;
}
.resource-item .heading {
  color: #31383c;
}
.row.wrapper {
  min-height: 320px;
}
.search-form {
  border-bottom: none;
}
.search-form .search-input.search-giant button {
  right: 15px;
}
.search-form .search-input.search-giant button i {
  color: #BF3D50;
  font-size: 30px;
}
.search-form .search-input.search-giant input {
  color: #000000;
  font-family: lora;
  font-size: 20px;
  border: 3px solid #091f2f;
  line-height: normal;
  padding: 10px;
}
.search-input.control-group.search-giant {
  margin-bottom: 20px;
}
.secondary .module-content {
  border: 1px solid #e5e5e5;
}
.secondary .module.module-narrow.module-shallow h2 {
  position: static;
}
.secondary-heading {
  color: #112e51;
  font-weight: normal;
  margin-bottom: 26px;
}
.section.site-search.simple-input [class^="icon-"] {
  font-size: 20px;
}
.select2-container {
  margin-top: 1px;
  margin-bottom: 5px;
}
.select2-container-multi.select2-container .select2-choices {
  padding-top: 0;
  padding-bottom: 0;
}
.showcase-container {
  margin-top: 30px;
}
.showcase-container h2 a {
  color: #091f2f;
  font-size: 30px;
  text-decoration: none;
}
.showcase-container h2 a:hover {
  color: #2554B1;
}
.showcase-container .heading,
.main-browse .heading,
.main-updates .heading {
  border-bottom: 5px solid #091f2f;
}
.challenge h2 {
    font-size: 30px;
}
.challenge h2 a {
    border-bottom: 5px solid #2554B1;
}
.simple-input .field .btn-search {
  color: #555555;
  right: 10px;
  height: 25px;
  width: 25px;
}
.site-footer,
.site-footer a, .site-footer label, .site-footer small {
  background-color: #0c2639;
  color: #51acff;
  font-weight: 400;
}
.site-footer ul {
  list-style: none;
  padding: 0;
}
.site-footer .container .row {
  padding: 20px;
}
.site-search.simple-input {
  border: 1px solid rgb(205,205,205);
}
.spinner {
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
  background-color: #fff;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 100;
  top: 90px;
  right: 0;
  left: 0;
  height: 40px;
  width: 40px;
}
.supporting-text {
  color: #091f2f;
  font-weight: 400;
  font-style: italic;
  line-height: inherit;
  padding-bottom: 1em;
  font-size: 18px;
  line-height: 30px;
  font-size: 1.66667rem;
  line-height: 1.66667rem;
}
.thumb-wrapper.float-left {
  /* background-image: url(/img/dataset_background.svg); */
  background-size: cover;
  float: left;
  margin-top: 0;
  margin-right: 10px;
  height: 150px;
  width: 150px;
}
.unpublishedfeedback.well {
  background-color: transparent;
}
.unpublishfeedback .control-label {
  font-weight: normal;
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    transform: scale(1);
  }
}
.outer {
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  height: 420px;
  width: 100%;
}
.inner {
  position: absolute;
  height: 100px;
  width: 100%;
}
@media (max-width: 1200px) {
  #member-table {
    table-layout: auto;
  }
  a.browse-group {
    width: 190px;
  }
  .main-updates .span6 {
    width: 100%;
  }
  .primary aside.tertiary {
    margin-left: 0;
    width: 100%;
  }
  .primary .primary {
    width: 100%;
  }
}
@media (max-width: 979px) {
  a.browse-group {
    width: 29%;
  }
  .primary .nav.nav-tabs i {
    display: none;
  }
  .masthead .site-search {
    display: inline;
  }
  .nav .dropdown .dropdown-menu,
  .js .dropdown:hover .dropdown-menu {
    display: block;
  }
  .nav-collapse .dropdown-menu {
    background-color: #0a4b6e;
    margin: 0;
  }
  .nav-collapse .nav>li>a,
  .nav-collapse .dropdown-menu a {
    color: #ffffff;
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar-static-top .logo img {
    height: 20px;
    margin-left: -10px;
    margin-top: 13.5px;
    width: 267px;
  }
  .resource-item .btn-group {
    display: block;
    position: relative;
    top: 0;
    right: 0;
  }
  .nav-tabs {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  #block-ckan-sitewide-search-bar {
    position: static;
    width: auto;
  }
  #content {
    padding-left: 20px;
    padding-right: 20px;
  }
  body {
    padding-left: 0;
    padding-right: 0;
  }
  footer.site-footer {
    background-position: 90% 280px;
    padding: 40px 20px;
  }
  .site-footer .container .row {
    padding: 0;
    margin-left: -10px;
    padding-left: 20px;
  }
  [role=main] .primary {
    float: none;
  }
  .masthead .btn-navbar,
  .masthead .btn-navbar:hover, .masthead .btn-navbar:focus, .masthead .btn-navbar:active,
  .masthead .btn-navbar.active, .masthead .btn-navbar.disabled, .masthead .btn-navbar[disabled] {
    margin-top: 10px;
  }
  .masthead .site-search {
    display: block;
    clear: both;
    width: 100%;
  }
  .nav .dropdown .dropdown-menu,
  .nav .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  .module-content.page-header {
    border-bottom: none;
  }
  .page-header .nav-tabs {
    width: 100%;
  }
  .page-header .nav-tabs li.active a,
  .page-header .nav-tabs a:hover {
    background-color: #085871;
    border-color: #085871;
    color: white;
  }
  .section.site-search.simple-input {
    margin-bottom: 24px;
  }
  .toolbar .breadcrumb, .toolbar .breadcrumb a {
    color: #000;
    text-shadow: none;
  }
  .js [role=main] .secondary .filters {
    top: 65px;
  }
  .toolbar {
    display: none;
  }
  [role=main] > #content {
    margin-top: 0;
  }
  [role=main], .main {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
  }
}
@media (max-width: 639px) {
  #recent-list .thumb-wrapper.float-left {
    width: 0;
  }
  #recent-list .thumb-wrapper img {
    display: none;
  }
  .dataset-list-left-icon {
    display: none;
  }
  .page_primary_action .dataset-list .dataset-item .dataset-resources,
  .main-responsive-panel .dataset-list .dataset-item .dataset-resources,
  .main-responsive-panel .dataset-list .dataset-item .package-item-note,
  .main-responsive-panel .dataset-list .dataset-item .package-item-extra {
    padding-left: 0;
  }
  a.browse-group {
    width: 44%;
  }
  ul, ol {
    margin: 0;
  }
  #popular-list .thumb-wrapper.float-left {
    width: 0;
  }
  #popular-list .thumb-wrapper img {
    display: none;
  }
  .module-content.search-form input {
    width: 90%
  }
  .resource-item .btn-group {
    display: none;
  }
  .search-form .search-input.search-giant button {
    right: 8.5%
  }
  .thumb-wrapper.float-left {
    width: 10px;
  }
}
@media (min-width: 480px) {
  .form-actions.submit-form {
    margin: 0 0 15px 180px;
  }
}
@media (min-width: 640px) {
  .homepage .module-search .search-giant {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}
@media (min-width: 768px) {
  h1.hero-text-heading.heading {
    text-transform: uppercase;
    font-size: 75px;
    line-height: 67px;
    font-size: 4.16667rem;
    line-height: 3.72222rem;
  }
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  [role=main], .main {
    padding-top: 10px;
    background: #ffffff;
  }
  .form-actions.submit-form {
    margin: 0 0 15px 130px;
  }
  .main-carousel {
    background-color: transparent;
  }
  .nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nav-pills .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .resource-item {
    padding: 10px 120px 10px 60px;
  }
  .search-form .search-input.search-giant input {
    font-size: 32px;
    padding: 5px 15px;
  }
  .wrapper {
    background-image: none;
  }
  .node-type-landing-page .landing-hero-intro-text {
    font-size: 30px;
    line-height: 80px;
    font-size: 1.66667rem;
    line-height: 4.44444rem;
  }
  .landing-hero-logo {
    width: 90px;
    height: 90px;
    background: #091f2f;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    padding-top: 6px;
  }
  .node-type-landing-page .landing-hero-logo img {
    padding-top: 29px;
    height: auto;
    width: 45px;
  }
  .form-actions .action-info {
    float: none;
    width: 100%;
  }
}
@media (min-width: 980px) {
  h1.hero-text-heading.heading {
    font-size: 90px;
    line-height: 85px;
    font-size: 5rem;
    line-height: 4.72222rem;
    padding: 0;
  }
  .account a {
    display: inline-block;
  }
  .account li {
    display: inline-block;
    padding-top: 0;
  }
  .account.avatar.authed, .account.not-authed {
    float: right;
    margin-right: 34px;
  }
  .account.avatar.authed li, .account.not-authed li {
    display: inline;
    padding-top: 0;
  }
  .masthead .nav-collapse {
    float: none;
    padding: 0;
  }
  .landing-hero-logo {
    display: inline-block;
    background-color: black;
    width: 125px;
    height: 100px;
  }
  .node-type-landing-page .landing-hero-logo img {
    padding-top: 29px;
    height: auto;
    width: 45px;
  }
}
/*make website responsive to larger screen size (> 1200px)*/
@media (min-width: 1200px) {
  [class*="span"] {
    float: left;
    margin-left: 1%;
    min-height: 1px;
  }
  /*make the left panel fixed and right panel responsive*/
  .primary.span9.main-responsive-panel {
    width: calc(100% - 237px);
  }
  .primary.span9.main-responsive-panel .primary {
    width: calc(100% - 198px);
  }
  .secondary.span3.aside-fixed-panel {
    width: 219px;
  }
  /*adjust the additional information table field width*/
  .additional-info .table-bordered thead:first-child tr:first-child>th:first-child,
  .additional-info .table-bordered tbody:first-child tr:first-child>td:first-child,
  .additional-info .table-bordered tbody:first-child tr:first-child>th:first-child {
    width: 240px;
  }
  a.browse-group {
    width: 21.6%;
  }
  .control-medium input, .control-medium select, .control-medium textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 28px;
  }
  .control-custom input:last-of-type {
    width: auto;
  }
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 85%;
  }
  .dataset-map-expanded #dataset-map {
    width: 100%;
  }
  .homepage .container,
  .homepage .navbar-static-top .container,
  .homepage .navbar-fixed-top .container,
  .homepage .navbar-fixed-bottom .container {
    width: 85%;
  }
  .homepage .module-search .search-giant {
    margin-left: auto;
    margin-right: auto;
    width: 60%
  }
  .row:before, .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  .span12 {
    width: 99.94680851063829%;
  }
  .span11 {
    width: 91.39979996362975%;
  }
  .span10 {
    width: 82.8527914166212%;
  }
  .span9 {
    width: 74.30578286961266%;
  }
  .span8 {
    width: 64.8%;
  }
  .span7 {
    width: 57.21176577559556%;
  }
  .span6 {
    width: 48.3%;
  }
  .span5 {
    width: 40.11774868157847%;
  }
  .span4 {
    width: 31.3%;
  }
  .span3 {
    width: 23.4%;
  }
  .span2 {
    width: 14.476723040552828%;
  }
  .span1 {
    width: 5.929714493544281%;
  }
  .offset12 {
    margin-left: 105.12820512820514%;
  }
  .offset11 {
    margin-left: 96.58119658119658%;
  }
  .offset10 {
    margin-left: 88.03418803418803%;
  }
  .offset9 {
    margin-left: 79.48717948717949%;
  }
  .offset8 {
    margin-left: 70.94017094017094%;
  }
  .offset7 {
    margin-left: 62.39316239316239%;
  }
  .offset6 {
    margin-left: 53.84615384615385%;
  }
  .offset5 {
    margin-left: 45.2991452991453%;
  }
  .offset4 {
    margin-left: 36.75213675213676%;
  }
  .offset3 {
    margin-left: 28.205128205128204%;
  }
  .offset2 {
    margin-left: 19.65811965811966%;
  }
  .offset1 {
    margin-left: 11.11111111111111%;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before, .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
  .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
  }
  .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
  }
  .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
  }
  .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
  }
  .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
  }
  .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
  }
  .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
  }
  .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
  }
  .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
  }
  .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
  }
  .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
  }
  .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1156px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1056px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 956px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 856px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 756px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 656px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 556px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 456px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 356px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 256px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 156px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 56px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
}
@media (min-width: 980px) and (min-height: 768px) {
  [role=main] > #content {
    min-height: 380px;
  }
  .row.wrapper {
    min-height: 380px;
  }
}
@media (min-width: 980px) and (min-height: 869px) {
  [role=main] > #content {
    min-height: 480px;
  }
  .row.wrapper {
    min-height: 480px;
  }
}
@media (min-width: 980px) and (min-height: 970px) {
  [role=main] > #content {
    min-height: 580px;
  }
  .row.wrapper {
    min-height: 580px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .span9 {
    width: 525px;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .site-footer .container .row {
    padding-left: 0;
    padding-right: 0;
  }
}
/*change the color contrast for 508 compliance*/
.label[data-format=csv], .label[data-format*=csv] {
  background-color: #866b00;
}
.label[data-format=html], .label[data-format*=html] {
  background-color: #007fae;
}
.label[data-format=json], .label[data-format*=json] {
  background-color: #bf5900;
}
.label[data-format=xls], .label[data-format*=xls] {
  background-color: #208242;
}
.label[data-format=geojson] {
  background-color: #893cdb;
}
.label[data-format=kml] {
  background-color: #548300;
}
/*change the color contrast for the description of empty datasets*/
.empty {
  color: #767675;
}
.media-item span.count {
  color: #767676;
}
/*change the color contrast for the page number of data sets*/
.editor .editor-info-block a {
  color: #007491;
}
.form-horizontal .info-block {
  color: #767676;
}
.form-horizontal .info-block a {
  color: #767676;
}
.module .pagination li.active a {
  background-color: #2554B1;
  color: #091f2f;
  border-right: 3px solid #091f2f;
}
.module .pagination {
  height: 54px;
  border-top: none;
  margin-top: 50px;
}
.pagination ul>li>a, .pagination ul>li>span {
  border-left: none;
  border-right: 3px solid #091f2f;
  height: 28px;
  width: 18px;
}
.pagination ul>li>a:hover {
  background-color: #BF3D50;
}
.module .pagination>ul {
  border-left: 3px solid #091f2f;
  border-top: 3px solid #091f2f;
  border-bottom: 3px solid #091f2f;
  border-right: 3px solid #091f2f;
}
.module .pagination li a {
  padding-top: 14px;
}
.nav-tab>a {
  color: #60727f;
}
.thread-likes {
  color: #60727f;
}
.control-custom input {
  width: 110px;
}
.control-medium input, .control-medium select, .control-medium textarea {
  box-sizing: border-box;
  min-height: 28px;
  width: 100%;
}
/*trigger*/
#hb__trigger {
  display: none;
}
.main-navigation {
  background: #091f2f;
  overflow-y: auto;
  position: fixed;
  transition: transform 0.3s;
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  height: 100%;
  height: 100vh;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
}
.hb__trigger:checked ~ .main-navigation {
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0x);
  transform: translateX(0px);
  transition: transform 0.3s;
}
#page {
  transition: transform 0.3s;
}
.hb__trigger:checked ~ #page {
  -ms-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  transition: transform 0.3s;
}
.hb__inner, .hb__inner::before, .hb__inner::after {
  background-color: #fff;
  border-radius: 0;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.10s;
  transition-timing-function: ease;
  height: 4px;
  width: 27px;
  left: 0;
  bottom: 0;
}
.hb__inner::before {
  top: -8px;
  -ms-transition: top 0.12s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), -ms-transform 0.15s cubic-bezier(0.55,0.055,0.675,0.19);
  -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), -webkit-transform 0.15s cubic-bezier(0.55,0.055,0.675,0.19);
  -moz-transition: top 0.12s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), -moz-transform 0.15s cubic-bezier(0.55,0.055,0.675,0.19);
  -o-transition: top 0.12s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), -o-transform 0.15s cubic-bezier(0.55,0.055,0.675,0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), transform 0.15s cubic-bezier(0.55,0.055,0.675,0.19);
}
.hb__inner::after {
  bottom: -8px;
  top: -16px;
  -ms-transition: top 0.3s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), opacity 0.1s linear;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), opacity 0.1s linear;
  -moz-transition: top 0.3s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), opacity 0.1s linear;
  -o-transition: top 0.3s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), opacity 0.1s linear;
  transition: top 0.3s 0.3s cubic-bezier(0.33333,0.66667,0.66667,1), opacity 0.1s linear;
}
.hb__inner::before, .hb__inner::after {
  content: "";
  display: block;
}
.hb__box {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 27px;
}
.hb__label {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
  font-size: 10px;
  line-height: 12px;
  font-size: 0.55556rem;
  line-height: 0.66667rem;
  text-transform: uppercase;
  bottom: 10px;
  left: -5px;
  right: -5px;
  text-align: center;
}
.hb__trigger:checked ~ #page label .hb__inner {
  -ms-transform: translate3d(0,-8px,0) rotate(-45deg);
  -webkit-transform: translate3d(0,-8px,0) rotate(-45deg);
  -moz-transform: translate3d(0,-8px,0) rotate(-45deg);
  -o-transform: translate3d(0,-8px,0) rotate(-45deg);
  transform: translate3d(0,-8px,0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215,0.61,0.355,1);
}
.hb__trigger:checked ~ #page label .hb__label {
  display: none;
}
.hb__trigger:checked ~ #page .hb__inner::before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333,0,0.66667,0.33333), transform 0.15s 0.42s cubic-bezier(0.215,0.61,0.355,1);
  top: 0;
}
.hb__trigger:checked ~ #page .hb__inner::after {
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333,0,0.66667,0.33333), opacity 0.1s 0.27s linear;
  top: 0;
}
header .nav-trigger {
  background-color: #2554B1;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: .75em;
  width: 3.6rem;
  top: 0;
  left: 0;
  bottom: 0;
}
label.nav-trigger:after {
  content: "";
}
.main-navigation .main-navigation-title {
  background: no-repeat center #fff;
  background-size: 54px 83px;
  margin: 0;
  padding: 112px;
  text-align: center;
}
.main-navigation a {
  background-color: #2554B1;
  color: #fff;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  font-size: 0.77778rem;
  line-height: 1.77778rem;
  line-height: 69px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 15px;
  height: 69px;
}
.main-navigation li {
  list-style-type: none;
  border-top: 3px solid #091f2f;
}
.main-navigation a {
  text-decoration: none;
}
.main-navigation a:hover {
  background-color: #175182;
}
.main-navigation .logout a {
  background-color: #BF3D50;
}
/*side nav style*/

.side-nav-account .account {
  height: auto;
}
.side-nav-account .account ul {
  height: auto;
}
.side-nav-account .account li {
  height: auto;
  display: block;
}
.side-nav-account .account.avatar.authed ul a,
.side-nav-account .account.not-authed ul a {
  padding: 0 15px;
}
@media (min-width: 980px) {
  .side-nav-account {
    display: none;
  }
}
.side-nav-account .account.avatar.authed ul a:hover,
.side-nav-account .account.not-authed li.active a {
  background-color: #175182;
}
.btn, .tag, .pill, .label {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0;
  /* Firefox 1-3.6 */
  -moz-border-radius: 0;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0;
}
.media-image {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (max-width: 369px) {
  a.browse-group {
    width: 100%;
  }
  .navbar-static-top .logo img {
    height: 15px;
    margin-left: -30px;
  }
}
.media-item.masonry-brick {
  border: 1px solid #e3e3e3;
  margin-left: 40px;
}
.main-navigation .account.avatar.authed ul a:hover,
.main-navigation .account.not-authed li.active a,
.main-navigation .account ul a:hover {
  background-color: #175182;
}
.module-content.box {
  padding: 20px;
}
.module-content:first-child {
  padding-top: 0;
}
.hero .module-content.box {
  padding-left: 0;
  padding-right: 0;
}
.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active {
  font-weight: normal;
  color: #BF3D50;
  font-size: 12px;
}
.toolbar {
  position: relative;
  padding: 25px 0 5px 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px;
  border-left: 0;
  border-style: dashed;
  border-color: #e0e0e0;
}
.toolbar .breadcrumb li:after {
  content: " / ";
  content: " > ";
  color: #d2d2d2;
  display: inline-block;
  padding: 0 10px;
}
.toolbar .breadcrumb a {
  color: #091f2f;
  font-size: 12px;
}
.toolbar .home span {
  display: inline-block;
}
.homepage .search-form .search-input.search-giant input {
  border: 5px solid #091f2f;
}
.main-updates .heading {
  font-size: 30px;
}
.main-updates li.dataset-item:hover {
  background-color: #2554B1;
}
.main-updates li.dataset-item:hover .dataset-heading a {
  color: #ffffff;
}
.main-updates li.dataset-item:hover div {
  color: #ffffff;
}
.homepage .search-form {
  background-image: none;
}
.seal-link {
  position: absolute;
  background-color: white;
  padding: 10px;
  left: 45%;
  border-radius: 100%;
  display: none;
}
.table-bordered {
  border-top: 1px solid rgb(88,88,91);
  border-right: 1px solid rgb(88,88,91);
  border-bottom: 1px solid rgb(88,88,91);
  border-collapse: collapse;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid rgb(88,88,91)
}
.table th,
.table td {
  border-top: 1px solid rgb(88,88,91)
}
.table-bordered thead:first-child tr:first-child>th:first-child,
.table-bordered tbody:first-child tr:first-child>td:first-child,
.table-bordered tbody:first-child tr:first-child>th:first-child {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0
}
.table th, .table-header thead th {
  background-color: #091f2f;
  color: #fff;
}
.table-striped tbody>tr:nth-child(odd)>th {
  background-color: #091f2f;
  color: #ffffff;
  padding: 10px;
}
article.module .module-content .table-striped tbody tr:nth-child(even) th {
  background-color: #091f2f;
  color: #fff;
  padding: 10px;
}
.table-striped tbody>tr:nth-child(odd)>td,
article.module .module-content .table-striped tbody tr:nth-child(even) td {
  text-transform: none;
  padding: 10px;
}
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
  background-color: #ffffff;
  padding: 10px;
}
.table-striped tbody tr:nth-child(even) th {
  background-color: #091f2f;
  color: #ffffff;
  padding: 10px;
}
table tr:not(:last-child) th {
  border-bottom: 1px solid #fff;
}
footer {
  padding: 1.75em 0 1.75em 6em;
  color: #fff;
}
footer.site-footer {
  padding: 0.5em 0 0 6em;
  color: #fff;
  background-size: 54px 90px;
  background-position-y: 28px;
}
footer.site-footer .container {
  width: 100%;
}
.site-footer .container .row {
  padding-left: 40px;
}
.site-footer, .site-footer a, .site-footer label, .site-footer small {
  background-color: rgb(9,31,47);
}
.s {
  background-color: #fff;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
  height: 106px;
  width: 106px;
  padding: 8px;
  position: absolute;
  z-index: 0;
  left: 50%;
  display: none;
  -ms-transform: translateX(-50%) translateY(40%);
  -moz-transform: translateX(-50%) translateY(40%);
  -o-transform: translateX(-50%) translateY(40%);
  -webkit-transform: translateX(-50%) translateY(40%);
  transform: translateX(-50%) translateY(40%);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  box-sizing: border-box;
}
@media screen and (min-width: 1366px) {
  .s {
    display: block;
  }
}
.s-i {
  height: 100%;
  width: 100%;
}
.landing-hero-intro-text {
  padding-top: 30px;
}
.hero-text-description secondary-heading {
  padding-top: 30px;
}
.s--u {
  -ms-transform: translateX(-50%) translateY(-20%);
  -moz-transform: translateX(-50%) translateY(-20%);
  -o-transform: translateX(-50%) translateY(-20%);
  -webkit-transform: translateX(-50%) translateY(-20%);
  transform: translateX(-50%) translateY(-20%);
  box-shadow: none;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
header .nav-trigger {
  box-sizing: border-box;
  width: 65px;
  padding: 10px;
}
.search-form .control-order-by select {
  font-family: Lora;
}
input, textarea, select {
  font-family: Lora;
}
.page-header .nav-tabs>li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}
.page-header .content_action {
  margin-right: 5px;
}
.btn-group>.btn:first-child:hover {
  color: #BF3D50;
  border: 1px solid #BF3D50;
  background-color: #ffffff;
}
.resource-item:hover {
  background-color: #ffffff;
}
.primary .nav.nav-tabs li a {
  margin: 0 3px;
  background-color: #091f2f;
}
.primary .nav.nav-tabs li a {
  color: #ffffff;
}
.primary .nav.nav-tabs li.active a {
  color: #091f2f;
  background-color: #ffffff;
}
.primary .page-header .nav-tabs a:hover {
  background-color: #091f2f;
}
.primary .nav.nav-tabs li a:hover {
  color: #BF3D50;
}
.primary .page-header .btn {
  margin-bottom: 10px;
}
.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-submenu>.dropdown-menu {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.module:first-child .module-heading {
  border-radius: 0 0 0 0;
}
.well {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.context-info .image img, .context-info .image a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
keygen, select {
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group>.btn:last-child,
.btn-group>.dropdown-toggle {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0
}
.btn-group>.btn:first-child {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0
}
.table-bordered thead:last-child tr:last-child>th:first-child,
.table-bordered tbody:last-child tr:last-child>td:first-child,
.table-bordered tbody:last-child tr:last-child>th:first-child,
.table-bordered tfoot:last-child tr:last-child>td:first-child,
.table-bordered tfoot:last-child tr:last-child>th:first-child {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
.tags {
  margin-bottom: 50px;
}
.dataset-item {
  padding-bottom: 25px;
}
.package-item-extra {
  margin-top: 6px;
}
.page_primary_action .dataset-list .dataset-item .dataset-content,
.page_primary_action .dataset-list .dataset-item .dataset-resources,
.main-responsive-panel .dataset-list .dataset-item .dataset-resources {
  padding-left: 120px;
}
#dataset-resources h3, .additional-info h3 {
  border-bottom: 5px solid #091f2f;
  margin-bottom: 50px;
  margin-top: 50px;
}
section.module-resource p.muted.ellipsis {
  max-width: 500px;
}
.heading-explanation {
  display: block;
  font-style: italic;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 30px;
}
.c3-shape.c3-bar {
  stroke: #2554B1;
  fill: #2554B1;
  opacity: 1;
}
.ckanext-showcase-image-container {
  margin-top: 60px;
}
#dataset-map-edit-buttons .btn {
  padding: 4px 12px;
}
section.tags h3 {
  margin-bottom: 10px;
}
.ready .gs-w:not(.preview-holder),
.ready .resize-preview-holder {
  width: 100%;
}
@media (min-width: 720px) {
  .form-actions .control-required-message:first-child {
    margin-top: -50px;
    margin-left: 130px;
  }
}
@media (max-width: 720px) {
  .form-actions .control-required-message:first-child {
    margin-left: 180px;
  }
}
@media (max-width: 480px) {
  .form-actions .control-required-message:first-child {
    margin-left: 0;
  }
}
@media (min-width: 767px) {
  .span9 div.module-content {
    padding-left: 0
  }
  footer .attribution {
    float: right;
    padding-right: 3%;
  }
}
.footer-links {
  display: inline-block;
}
#dataset-edit .stages {
  margin: 0;
}
.stages {
  margin: 0 0 20px;
}
#dataset-edit .control-group.control-medium {
  margin-top: 20px;
}
.no-toolbar {
  margin-bottom: 40px;
}
#popular-list .dataset-item .dataset-content img,
#recent-list .dataset-item .dataset-content img {
  max-width: 150px;
  float: left;
  margin-top: 10px;
}
.dataset-list-left-icon {
  max-width: 120px;
  float: left;
    margin-top: -10px;
}
#field-order-by-stylable a,
.dropdown a:visited {
  color: #091f2f;
  text-decoration: none;
  outline: none;
}
#field-order-by-stylable dt a {
  display: block;
  padding-right: 20px;
  border: 1px solid #091f2f;
  width: 160px;
  padding: 5px;
}
dt .value:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  float: right;
  margin-top: 8px;
}
#field-order-by-stylable span span.value {
  display: none;
}
#field-order-by-stylable dd .value {
  display: none;
}
#field-order-by-stylable dd li {
  list-style: none;
  padding: 5px;
}
#field-order-by-stylable dd {
  margin-left: 0;
  position: absolute;
  background-color: white;
}
#field-order-by-stylable dd ul {
  border: 1px solid #091f2f;
  color: #091f2f;
  width: auto;
  display: none;
  min-width: 170px;
  list-style: none;
}
#field-order-by-stylable ul, ol {
  padding: 0;
  margin: 0;
}
#field-order-by-stylable span,
#field-order-by-stylable a {
  text-transform: none;
  font-family: lora;
  font-weight: normal;
}
#field-order-by {
  display: none;
}
#field-order-by-stylable {
  display: inline-block;
}
.form-select.control-group.control-order-by {
  background-color: white;
}
#field-order-by-stylable dl {
  display: inline-block;
  height: 20px;
}
#field-order-by-stylable li:hover {
  background-color: #091f2f;
}
#field-order-by-stylable li:hover a {
  color: #ffffff;
}
.modal {
  margin: 0;
  left: 10%;
  height: 80%;
  width: 80%;
}
.modal-body {
  max-height: 80%;
}
.media-item.masonry-brick div {
  overflow-y: hidden;
  display: -webkit-box;
  max-height: 80px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
ul.media-grid.masonry {
  margin-left: 0;
}
.module-content.page-header {
  border-bottom: none;
}
.dataset-details a, .nav-item a, .tags a {
  text-transform: none;
  font-family: Lora, serif;
}
@media (max-width: 767px) {
  footer.site-footer {
    background-position: 90% 280px;
    padding: 40px 20px;
  }
}
.resource-view .btn {
  padding: 10px 15px;
}
.ckanext-datapreview {
  padding-top: 3px;
}
.resource-view-filters {
  margin-bottom: 10px;
}
