{% set popular_datasets = h.dathere_theme2_popular_datasets() %}

  <div class="module-content box">
    <header>
      <h2 class="heading">Popular Datasets</h2>
      <span class="heading-explanation">Browse popular datasets below.</span>
    </header>
    <section>
      {% block package_list %}
        <ul id="popular-list" class="unstyled dataset-list">
          {% block package_list_inner %}
            {% for package in popular_datasets %}
              {% set truncate_title = truncate_title or 50 %}
              {% set title = package.title or package.name %}
              <li class="dataset-item">
                <div class="dataset-content">
	          <div class="thumb-wrapper float-left">
                     {% if package.icon_url %}
                       <img  src="{{package.icon_url}}">
                     {% else %}
                        <img src="/img/default_icon_for_dataset.png">
                     {% endif %}
                  </div>
                  <div class="text-wrapper">
                    <h3 class="dataset-heading">{{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}</h3>
                    {% set curr_package = h.dathere_theme2_get_package_metadata(package) %}
                    <div class="package-item-extra">{{curr_package.tracking_summary.recent}} recent views</div>
                    {% if curr_package.resources %}
                      <ul class="dataset-resources unstyled">
                        {% for resource in h.dict_list_reduce(curr_package.resources, 'format') %}
                          <li>
                            <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}" style="color:white;">{{ resource }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
          {% endblock %}
        </ul>
      {% endblock %}
    </section>
  </div>
